doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body

    nav 
      a(href="/") Home / 
      a(href="") Item
      a(href="") Item
      a(href="") Item
      a(href="") Item

    div(style="margin-left: 280px")
      div.wrap
        block content
      footer 2021 company

