extends layout 

block content 
  h1= title

  div.item-list
    div
      a(href="/shop/detail") 
        img(src="/images/blog/blog-post-thumb-1.jpg", alt="")
    div
      img(src="/images/blog/blog-post-thumb-2.jpg", alt="")
    div
      img(src="/images/blog/blog-post-thumb-3.jpg", alt="")
  div.item-list
    div
      img(src="/images/blog/blog-post-thumb-4.jpg", alt="")
    div
      img(src="/images/blog/blog-post-thumb-5.jpg", alt="")
    div
      img(src="/images/blog/blog-post-thumb-6.jpg", alt="")
  div.item-list
    div
      img(src="/images/blog/blog-post-thumb-7.jpg", alt="")
    div
      img(src="/images/blog/blog-post-thumb-8.jpg", alt="")
    div
      img(src="/images/blog/blog-post-thumb-9.jpg", alt="")