extends layout 

block content 
  h1= title 

  ul.errors

  form  
    div.form-group
      label(for="") old password 
      input(type="text" name="password") 
    div.form-group
      label(for="") new password 
      input(type="text" name="new_password")
    div.form-group
      label(for="") new password confirm
      input(type="text" name="new_password_confirm") 
    div.form-group 
      button(type="submit") submit

  script.
    var form = document.querySelector('form')
    var ul = document.querySelector('ul')

    form.addEventListener('submit', handleSubmit)
    
    async function handleSubmit(e) {
      e.preventDefault()

      var formData = new FormData(form)

      var results = await fetch ('/password/change', {
        method: 'POST',
        body: new URLSearchParams(formData)
      }).then(res => res.json())

      ul.innerHTML = ''

      if (results.errors) {
        for (error of results.errors) {
          var li = document.createElement('li')
          li.textContent = error 
          ul.appendChild(li)
        }
      } else {
        location.href = '/' + results.username
      }
    }